@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    min-width:400px;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family:'Roboto condensed',sans-serif;
    background:linear-gradient(to right, #f5df64, #f8cf29);
}
nav{
    width:50vw;
    padding:1em 0;
}
nav h1{
    margin:0 auto;
    text-align:center;
    color:#000;
    font-size:2em;
}
.container{
    width:25rem;
    height:30rem;
    margin-top:2em;
    padding:1em;
    box-shadow:2px 2px 10px #000018;
    background-color: rgba(255, 255, 255, 0.603);
    backdrop-filter: blur(10px);
    border-radius:5px;
}
.container::-webkit-scrollbar{
    width:10px;
    background-color:rgb(113, 239, 113);
    border-radius:2px;
}
.container::-webkit-scrollbar-thumb{
    background-color:rgb(242, 223, 6);
    border-radius:5px;
}
.input-data input, .input-data button{
    height:30px;
}
.input-data{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.input-data input{
    width:70%;
    text-align:center;
    font:normal 1.2em Arial;
    outline:0;
}
.input-data button{
    padding:0 5px;
    color:rgb(255, 255, 255);
    background-color:#22bb1a;
    border:none;
    font-size:0.8em;
}
.input-data button:hover{
    background-color:#21e645;
    transition:0.5s;
    cursor:pointer;
}
.data{
    width:100%;
    margin-top:10px;
    list-style-type:none;
}
.data li{
    height:25px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 0.2em;
    margin-bottom:0.2em;
    border-bottom:1px solid #000018;
}
li button{
    padding:5px;
    margin-bottom:0.1em;
    display:flex;
    justify-content:space-around;
    cursor:pointer;
    background-color:rgb(231, 52, 52);
    color:#fff;
    outline:0;
    border:none;
}
li button:hover{
    background-color:rgb(220, 32, 32);
    transition:0.5s;
}
@media screen and (max-width:450px){
    body{
        background:linear-gradient(to right, #76bcf1, #326dd9);
    }
    .container{
        width:80%;
        background-image:url("../img/todo3.png");
        background-repeat:no-repeat;
        background-position:center center;
        backdrop-filter:blur(20px);

    }
    .container::-webkit-scrollbar{
        width:10px;
        background-color:rgb(113, 239, 113);
        border-radius:2px;
    }
    .container::-webkit-scrollbar-thumb{
        background-color:rgb(54, 46, 215);
        border-radius:5px;
    }
    .input-data{
    position:sticky;
    top:0;
    }
    .input-data input{
        width:65%;
        font-size:1.1em;
    }
}
